@import "../../../globalStyles/scss/variables.scss";

.products-featured {
  padding: 2rem 0 4rem;

  h3 {
    margin-bottom: 0.5rem;
    font-family: 'Nunito';
    text-align: center;
    color: #001261;
    margin-top: 1rem;
    font-weight: 600;
  }

  a {
    color: $base-font-color;
    display: inline-block;
    text-decoration: none;
  }
}
