@import "../../../globalStyles/scss/variables.scss";

.side-nav {
  $item-height: 3.7rem;
  max-width: calc(100vw - 5rem);
  width: 20rem;

  &__menu-item {
    border-bottom: 1px solid $gray-light;
    display: grid;
    /*height: $item-height;*/

    &-link,
    &-back span {
      align-items: center;
      color: #323232;
      display: flex;
      /* font-weight: 600; */
      padding: 0.3rem 1rem 0.3rem 2rem;
      text-decoration: none;
      /* text-transform: uppercase; */
      transition: 0.3s;
      font-family: 'Nunito';

      svg * {
        fill: currentColor;
      }
    }

    &-logo {
      align-self: center;
      padding: 0.5rem 1rem 0.5rem 2rem;

      svg {
        width: 7rem;
      }
    }

    &-link,
    &-more,
    &-back,
    &-close {
      transition: 0.3s;

      &:hover {
        color: $reyenvios;
      }

      svg * {
        fill: currentColor;
      }
    }

    &-close,
    &-more,
    &-back {
      &:hover {
        cursor: pointer;
      }
    }

    &-more {
      align-self: center;
      padding: 0.3rem 0 0.3rem 2.5rem;
    }

    &-back {
      svg {
        margin-right: 1rem;
      }
    }

    &-close {
      align-items: center;
      display: flex;
      height: $item-height;
      justify-content: center;

      span {
        background-color: currentColor;
        border-radius: 1px;
        height: 3px;
        width: 24px;
      }

      &:hover {
        color: $reyenvios;
      }
    }

    &--not-show{
      display: none;
    }
    &--has-subnavigation,
    &--parent {
      grid-template-columns: 1fr $item-height;
    }

    &--parent {
      color: black;
      background: #fbfbfb;
      margin-bottom: 0.8rem;

      a {
        color: inherit;
      }
    }
  }
}
