@import "../../../../globalStyles/scss/variables.scss";

$drawer-width: 25rem;

.search__products__footer button.button {
  /* background: red; */
  padding: 0.5rem;
  text-transform: none;
  font-family: 'Nunito';
  border-radius: 3px;
}

.search {
  width: 100vw;

  @media (min-width: $medium-screen) {
    width: $drawer-width;
  }

  &--has-results {
    min-height: 100vh;
  }

  &__input {
    .input__icon-right {
      svg * {
        fill: #eaeaea;
      }
    }

    .input__icon-left {
      svg * {
        fill: $base-font-color;
      }
    }

    .input__field {
      padding-bottom: 1.2rem;
      width: 100%;
      background-color: white;
      padding-top: 1.4rem;
      margin-top: 1rem;
      height: 50px;
      font-family: nunito;
      border: #e4e4e4 0.1rem solid;
      margin-right: 10px;
      border-radius: 4px;
      box-shadow: 0 0 5px #efefef inset;
      font-size: 1.5rem;
      font-weight: normal;
      color: #616161;

      &:focus {
        box-shadow: none;
      }

      &::placeholder {
        text-transform: none;
        font-size: $base-font-size;
        color:grey;
        margin-top: -5px;
        line-height: 50px;
      }
    }
  }

  &__products {
    background: $white;
    overflow: auto;
    padding: $spacer / 2 0;
    position: relative;
    right: 0;
    transition: 300ms;
    height: calc(100vh - 3rem);

    @media (min-width: $medium-screen) {
      right: -$drawer-width;
    }

    &--expanded {
      right: 0;
    }

    &--not-found {
      padding: 14px;
    }

    &__item {
      padding: $spacer / 0;

      img {
        width: 3.6rem;
        height: 3.6rem;
        display: inline-block;
        margin-right: $spacer;
        vertical-align: top;
      }

      span {
        display: inline-block;
        width: calc(100% - 4.6rem);
      }

      h4 {
        text-transform: uppercase;
        font-weight: $bold-font-weight;
        padding: $spacer / 4 0;
        color: $base-font-color;
      }

      p {
        color: $gray;
      }

      &:hover {
        background-color: $gray-light;
      }

      ul {
        max-height: calc(100vh - 9rem);
      }
    }

    &__footer {
      position: fixed;
      bottom: 0px;
      border-top: 1px solid $gray-light;
      text-align: center;
      padding: $spacer 0;
      background-color: $white;
      width: 100vw;

      @media (min-width: $medium-screen) {
        width: 25rem;
      }
    }
  }
}
