@import "../../../globalStyles/scss/variables.scss";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:wght@100;300;700;900&family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400&family=Quicksand:wght@300;400;500;600;700&family=Varela+Round&display=swap');


button.slick-arrow.slick-next {
  right: 25px;
}

button.slick-arrow.slick-prev {
  left: 25px;
  z-index: 1;
}

.phone {
  font-size: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: auto;
  font-family: Varela Round;
}

.top-banner {
    height: 3.7rem;
    background: url(https://uidesign.gbtcdn.com/GB/image/4424/es_1920x60.jpg);
    background-repeat: no-repeat;
}

.main-menu__search svg path {
  fill: $reyenvios;
}


.main-menu {
  align-items: stretch;
  background-color: #fbfbfb;
  display: flex;
  flex-direction: row;
  height: 5rem;

  @media (max-width: $small-screen) {
    height: 3.5rem;
   }
  

  &__left {
    /*flex: 1;*/
    /*background: red;*/
    padding-right: 25px;

    @media (max-width: $small-screen) {
      padding-right: 0;
      flex:1.05;
   }
    

    ul {
      display: flex;
      align-items: center;
      height: 100%;
    }

    svg {
      width: 2rem;

      @media (min-width: $small-screen) {
        width: 10rem;
      }
    }

    &__logo
    {
      padding-top: 5px;
      padding-left: 5px;
    }
  }

  &__right {
    flex: 1;
    

    ul {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      height: 100%;
    }
  }

  &__center {
    display: flex;
    justify-content: center;
    align-content: center;

    svg {
      width: 8rem;
      margin-top: 10px;
    }

    @media (max-width: $small-screen) {
      width: 5rem;

   }
  }

  &__item {
    font-weight: $bold-font-weight;
    height: 100%;
    text-transform: uppercase;

    a {
      text-decoration: none;
      color: $base-font-color;
      position: relative;
      transition: 0.3s;

      &:hover {
        color: grey;
      }
    }
  }

  &__hamburger {
    cursor: pointer;

    &--hover {
      display: none;
    }

    &:hover {
      .main-menu__hamburger--icon {
        display: none;
      }

      .main-menu__hamburger--hover {
        display: block;
      }
    }

    svg {
      vertical-align: bottom;
    }
  }

  &__item,
  &__hamburger {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__icon {
    padding: 0 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-family: nunito;

    &:hover {
      color: $reyenvios;

    }

    svg * {
      transition: 0.3s;
    }

    &:hover {
      svg * {
        fill: $reyenvios;
      }
    }

    svg {
      vertical-align: bottom;
     }

    @media (max-width: $small-screen) {
      top: 20px;
    }
  }

  &__cart {
    /*position: relative;*/

    &:hover {
      color: $reyenvios;
    }
    &__quantity {
      position: absolute;
      top: -0.3rem;
      right: 0.6rem;
      background-color: $blue;
      border-radius: 1rem;
      padding: 0 0.3rem;
      min-width: 1rem;
      height: 1rem;
      color: $white;
      font-size: $small-font-size;
      text-align: center;
      line-height: 1rem;
      transition: 0.3s;
    }
  }

  &__user {
    &--active * {
      fill: $reyenvios;
      fill-rule: inherit;
    }
    &--active:hover {
      color: $reyenvios;
    }
  }



  &__dropdown {
    text-transform: uppercase;
    font-weight: $bold-font-weight;

    li {
      cursor: pointer;
      margin: 0 auto;

      &:hover {
        color: $gray;
      }

      &:not(:last-of-type) {
        border-bottom: 1px solid $gray-light;
      }
    }
  }

  &__offline {
    line-height: 24px;
    padding: $spacer;

    span {
      text-transform: uppercase;
      font-weight: $bold-font-weight;
      vertical-align: bottom;
    }
  }

  &__search {
    padding: $spacer;
    cursor: pointer;
    line-height: 24px;
    transition: 0.3s;

    @media (min-width: $medium-screen) {
      border-left: 1px solid $gray-light;
    }

    svg * {
      transition: 0.3s;
    }

    &:hover {
      color: $turquoise;
      svg * {
      fill:black;
      }
    }

    span {
      text-transform: uppercase;
      font-weight: 600;
      margin-left: 0.5rem;
      font-family: nunito;
      font-size: 1.1em;
      color: #f31f00;
    }

    span:hover {
      color:black;

    }

    div {
      display: inline-block;
    }

    svg {
      vertical-align: bottom;
    }
  }

  &__nav-dropdown {
    padding: 0 1.5rem;

    &--active {
      background-color: $turquoise-light;
    }

    & > li:first-child {
      text-align: center;
    }

    &__body {
      background: $white;
      border-top-color: $gray-light;
      border-top-style: solid;
      border-top-width: 1px;
      display: none;
      left: 0;
      padding: 2rem;
      position: absolute;
      top: 100%;
      width: 100%;
      z-index: 3;

      &--visible {
        display: block;
      }

      li *,
      ul * {
        display: block !important;
      }

      > ul > li {
        align-self: flex-start;
        margin-left: 2rem;
        position: relative;
        width: 188px;

        // 2nd level name
        > a {
          font-size: $base-font-size;
          position: relative;
          text-transform: uppercase;
          padding-bottom: 9px;
          margin-bottom: 3px;
        }
        > ul > li:first-child {
          position: relative;

          &:before {
            background-color: $turquoise-light;
            content: "";
            height: 1px;
            left: 0;
            position: absolute;
            top: -3px;
            width: 100%;
          }
        }

        ul {
          // 3rd+ level names
          a {
            font-size: $small-font-size;
            font-weight: normal;
            padding: 6px 0;
            text-transform: capitalize;
          }

          li > ul {
            margin-left: 10px;
          }
        }
      }
    }
  }
}

.search-bar {
  position: relative;
  display: flex;
  width: auto;
  justify-content: center;
  border-bottom: 1px solid $gray-light;
  margin-top: 15px;

  @media (max-width: 360px) {
    margin-top: 0;
    padding: 5px 0;
    background: #232F3E;
   }
  

  &__search-icon {
    position: absolute;
    top: 15px;
    left: 22px;
    width: 14px;
  }

  &__search-input {
    border: 1px solid grey;
    border-radius: 3px;
    height: 38px;
    width: auto;
    padding: 2px 23px 2px 40px;
    outline: 0;
    background-color: #f5f5f5;
    margin: 3px;
    flex: 1;
    margin-left: 15px;
    margin-right: 15px;
  }

  &__search-input:hover, .search:focus {
    border: 1px solid #009688;
    background-color: white;
  }
}

.sub-menu {
  align-items: center;
  align-items: stretch;
  background-color: $white;
  display: flex;
  flex-direction: row;
  height: 2rem;
  position: relative;

  &__left {
    background-color: #F31F00;
    color: white;
    flex-basis: 13em;

    ul {
      display: flex;
      align-items: center;
      height: 100%;
      padding-right: 1em;
    }
  }

  &__center {
    background-color:  #232F3E;
    flex: 3;
  }

  &__right {
    background-color: #232F3E;
    color: white;
    flex: 1 1 80%;

    ul {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-around;
      height: 100%;
      align-items: center;
      color: white;
      font-family: nunito;
    }
/*
    .large-text {
      flex: 2;
    }

    .normal-text {
      flex: 1;
    }*/
  }

  span {
    color: white;
  }

  &__hamburger {
    cursor: pointer;
    padding: $spacer;

    &--hover {
      display: none;
    }

    &:hover {
      .sub-menu__hamburger--icon {
        display: none;
        margin-right: 10px;
      }

      .sub-menu__hamburger--hover {
        display: block;
      }
    }

    svg {
      vertical-align: bottom;
      margin-right: 10px;
    }

    path {
      fill: white;
    }

    span {
      color: white;
    }
  }

  &__hamburger {
    /*align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;*/
    display: flex;
    height: 100%;
    padding: 0.3rem 1rem;
    align-items: center;;
    width: 100%;
  }  
}



