@import "../../../globalStyles/scss/variables.scss";


@import url(//fonts.googleapis.com/css2?family=Lato);
@import url(//db.onlinewebfonts.com/c/ac437ca8426dbd7386bffda59c59a599?family=Bariol+Regular);




.main-menu#sub_header {
  background: #232f3e;
  height: 2rem;
}

.main-menu#header {
  /*background: cyan;*/
  height: 4rem;
}

#sub_header .main-menu__center {
  align-self: center;
  flex-basis: calc(20% - 4rem);
  /*background: gold;*/
  height: 100%;
}

#sub_header .main-menu__right {
  flex-basis: calc(60% - 4rem);
 flex: auto;
  text-align: right;
}

#header .main-menu__right {
  background: magenta;
  flex-basis: calc(100% - 4rem);
  padding: 0.5rem 0;
}

.main-menu__links a {
  color: white;
  font-family: bariol;
  padding: 0 0.5rem;
  font-size: 1.15rem;
}

.main-menu__links a:hover {

  text-decoration: underline;

}

.main-menu__links {
  height: 100%;
  padding: 0.4rem;
}


.main-menu {
  align-items: center;
  align-items: stretch;
  background-color: $white;
  /*border-bottom: 1px solid $gray-light;*/
  display: flex;
  flex-direction: row;
  height: 3.55rem;
  position: relative;

  
  &__left {
    flex-basis: calc(50% - 2rem);

    .main-menu__hamburger--icon {float: left;}
    .main-menu__hamburger span {
      color: white;
      font-family: Lato;
      font-weight: 600;
      margin-left: 10px;
  }

  .main-menu__hamburger path {
    fill: white;
}


    li.main-menu__hamburger {
      background: #f31f00;
      height: 100%;
    }



    @media (min-width: $small-screen) {
      flex-basis: calc(20% - 4rem);
    }

    ul {
      /*display: flex;*/
      align-items: center;
      height: 100%;
    }
  }

  &__right {
    flex-basis: calc(50% - 2rem);

    @media (min-width: $small-screen) {
      flex-basis: calc(50% - 4rem);
    }

    ul {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }

  &__center {
    align-self: center;

    svg {
      width: 4rem;

      @media (min-width: $small-screen) {
        width: 6rem;
      }
    }
  }

  &__item {
    font-weight: $bold-font-weight;
    height: 100%;
    text-transform: uppercase;

    a {
      text-decoration: none;
      color: $base-font-color;
      position: relative;
      transition: 0.3s;

      &:hover {
        color: $turquoise;
      }
    }
  }



  &__hamburger {
    /*border-right: 1px solid $gray-light;*/
    cursor: pointer;
    padding:0.3rem;

    &--hover {
      display: none;
      float:left;
    }

    &:hover {
      .main-menu__hamburger--icon {
        display: none;
      }

      .main-menu__hamburger--hover {
        display: block;
      }
    }

    svg {
      vertical-align: bottom;
    }
  }

  &__item,
  &__hamburger {
    align-items: center;
    /*display: flex;*/
    flex-direction: column;
    justify-content: center;
  }

  &__icon {
    padding: 0 $spacer;
    cursor: pointer;

    svg * {
      transition: 0.3s;
    }

    &:hover {
      svg * {
        fill: $turquoise;
      }
    }

    svg {
      vertical-align: bottom;
    }
  }

  &__cart {
    position: relative;

    &__quantity {
      position: absolute;
      top: -0.3rem;
      right: 0.6rem;
      background-color: $blue;
      border-radius: 1rem;
      padding: 0 0.3rem;
      min-width: 1rem;
      height: 1rem;
      color: $white;
      font-size: $small-font-size;
      text-align: center;
      line-height: 1rem;
      transition: 0.3s;
    }
  }

  &__user {
    &--active * {
      fill: $turquoise;
      fill-rule: inherit;
    }
  }

  &__dropdown {
    text-transform: uppercase;
    font-weight: $bold-font-weight;

    li {
      cursor: pointer;
      margin: 0 auto;

      &:hover {
        color: $gray;
      }

      &:not(:last-of-type) {
        border-bottom: 1px solid $gray-light;
      }
    }
  }

  &__offline {
    line-height: 24px;
    padding: $spacer;

    span {
      text-transform: uppercase;
      font-weight: $bold-font-weight;
      vertical-align: bottom;
    }
  }

  &__search {
    padding: $spacer;
    cursor: pointer;
    line-height: 24px;
    transition: 0.3s;
  }
    &__phone {
      padding: 1rem;
      cursor: pointer;
      transition: 0.3s;
      font-family: bariol;
      font-size: 2rem;
      border-right: #efefef 1px solid;

    

    @media (min-width: $medium-screen) {
      /*border-left: 1px solid $gray-light;*/
    }

    svg * {
      transition: 0.3s;
    }

    &:hover {
      color: $turquoise;
      svg * {
        fill: $turquoise;
      }
    }

    span {
      text-transform: uppercase;
      font-weight: $bold-font-weight;
      margin-right: $spacer;
    }

    div {
      display: inline-block;
    }

    svg {
      vertical-align: bottom;
    }
  }

  &__nav-dropdown {
    padding: 0 1.5rem;

    &--active {
      background-color: $turquoise-light;
    }

    & > li:first-child {
      text-align: center;
    }

    &__body {
      background: $white;
      border-top-color: $gray-light;
      border-top-style: solid;
      border-top-width: 1px;
      display: none;
      left: 0;
      padding: 2rem;
      position: absolute;
      top: 100%;
      width: 100%;
      z-index: 3;

      &--visible {
        display: block;
      }

      li *,
      ul * {
        display: block !important;
      }

      > ul > li {
        align-self: flex-start;
        margin-left: 2rem;
        position: relative;
        width: 188px;

        // 2nd level name
        > a {
          font-size: $base-font-size;
          position: relative;
          text-transform: uppercase;
          padding-bottom: 9px;
          margin-bottom: 3px;
        }
        > ul > li:first-child {
          position: relative;

          &:before {
            background-color: $turquoise-light;
            content: "";
            height: 1px;
            left: 0;
            position: absolute;
            top: -3px;
            width: 100%;
          }
        }

        ul {
          // 3rd+ level names
          a {
            font-size: $small-font-size;
            font-weight: normal;
            padding: 6px 0;
            text-transform: capitalize;
          }

          li > ul {
            margin-left: 10px;
          }
        }
      }
    }
  }
}
